{% extends 'base.html' %}
{% block title %}Crear Membresía{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Crear Membresía</h2>

<div class="card shadow-lg border-0">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label>Cliente</label>
<select name="cliente_id" id="clienteSelect" class="form-select" required>
{% for c in clientes %}
<option value="{{ c.id }}">
{{ c.nombre }} {{ c.apellido }}
</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Plan</label>
<select name="plan_id" id="planSelect" class="form-select" required>

{% for p in planes %}
<option value="{{ p.id }}">
{% if p.tipo_plan == "sesion" %}
    {{ p.nombre }} - {{ p.duracion_horas if p.duracion_horas else 0 }} horas
{% else %}
    {{ p.nombre }} - {{ p.duracion_dias if p.duracion_dias else 0 }} días
{% endif %}
</option>
{% endfor %}

</select>
</div>

<button class="btn btn-success rounded-pill">
Guardar
</button>

</form>

</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function(){
$("#clienteSelect").select2();
$("#planSelect").select2();
});
</script>
{% endblock %}