{% extends 'base.html' %}
{% block title %}Editar Membresía{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Editar Membresía</h2>

<div class="card shadow-lg border-0">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label>Plan</label>
<select name="plan_id" id="planSelect"
class="form-select" required>

{% for p in planes %}
<option value="{{ p.id }}"
{% if item.plan_id == p.id %}selected{% endif %}>
{% if p.tipo_plan == "sesion" %}
{{ p.nombre }} - {{ p.duracion_horas or 0 }} horas
{% else %}
{{ p.nombre }} - {{ p.duracion_dias or 0 }} días
{% endif %}
</option>
{% endfor %}

</select>
</div>

<button class="btn btn-success rounded-pill">
Actualizar
</button>

</form>

</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function(){
  $('#planSelect').select2();
});
</script>
{% endblock %}