{% extends 'base.html' %}
{% block title %}Membresías{% endblock %}

{% block content %}
<div class="container-fluid mt-4">

<h2 class="fw-bold mb-4">Membresías</h2>

<a href="{{ url_for('membresias.create') }}"
class="btn btn-primary rounded-pill shadow mb-3">
<i class="bi bi-plus-circle"></i> Nueva Membresía
</a>

<div class="card shadow-lg border-0">
<div class="card-body">

<table id="tablaMembresias"
class="table table-striped table-hover text-center">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Cliente</th>
<th>Plan</th>
<th>Inicio</th>
<th>Fin</th>
<th>Estado</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
{% for m in data %}
<tr>
<td>{{ m.id }}</td>
<td>{{ m.cliente.nombre }} {{ m.cliente.apellido }}</td>
<td>{{ m.plan.nombre }}</td>
<td>{{ m.fecha_inicio.strftime("%d/%m/%Y") }}</td>
<td>{{ m.fecha_fin.strftime("%d/%m/%Y") }}</td>

<td>
{% if m.estado == "activa" %}
<span class="badge bg-success">Activa</span>
{% else %}
<span class="badge bg-danger">Vencida</span>
{% endif %}
</td>

<td>
<a href="{{ url_for('membresias.edit', id=m.id) }}"
class="btn btn-warning btn-sm rounded-pill">
<i class="bi bi-pencil"></i>Editar
</a>

<a href="{{ url_for('membresias.delete', id=m.id) }}"
class="btn btn-danger btn-sm rounded-pill"
onclick="return confirm('¿Eliminar?')">
<i class="bi bi-trash"></i>Eliminar
</a>
</td>
</tr>
{% endfor %}
</tbody>

</table>

</div>
</div>
</div>
{% endblock %}


{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function() {
$('#tablaMembresias').DataTable({
    pageLength: 7,
    language: {
        url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
    }
});
});
</script>
{% endblock %}
