{% extends 'base.html' %}
{% block title %}Registrar Pago{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Registrar Pago</h2>

<div class="card shadow-lg border-0">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label>Cliente</label>
<select name="cliente_id" class="form-select select2" required>
{% for c in clientes %}
<option value="{{ c.id }}">{{ c.nombre }} {{ c.apellido }}</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Membresía</label>
<select name="membresia_id" class="form-select select2" required>
{% for m in membresias %}
<option value="{{ m.id }}">
ID {{ m.id }} | {{ m.cliente.nombre }} | {{ m.plan.nombre }}
</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Monto</label>
<input type="number" step="0.01" name="monto"
class="form-control" required>
</div>

<div class="mb-3">
<label>Método</label>
<select name="metodo" class="form-select">
<option value="efectivo">Efectivo</option>
<option value="qr">QR</option>
<option value="transferencia">Transferencia</option>
</select>
</div>

<button class="btn btn-success rounded-pill">
Guardar
</button>

</form>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$('.select2').select2();
</script>
{% endblock %}
