{% extends 'base.html' %}
{% block title %}Editar Ejercicio{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Editar Ejercicio</h2>

<div class="card shadow-lg border-0 glass-card">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label class="form-label">Nombre</label>
<input type="text" name="nombre"
value="{{ item.nombre }}"
class="form-control form-control-lg" required>
</div>

<div class="mb-4">
<label class="form-label">Grupo muscular</label>
<input type="text" name="grupo_muscular"
value="{{ item.grupo_muscular }}"
class="form-control form-control-lg" required>
</div>

<button class="btn btn-success btn-lg">
<i class="bi bi-check-circle"></i> Actualizar
</button>

</form>

</div>
</div>
{% endblock %}
