{% extends 'base.html' %}
{% block title %}Crear Cliente{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Registrar Cliente</h2>

<div class="card shadow-lg border-0">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label class="form-label">Nombre</label>
<input type="text" name="nombre" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Apellido</label>
<input type="text" name="apellido" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Teléfono</label>
<input type="text" name="telefono" class="form-control">
</div>

<div class="mb-3">
<label class="form-label">CI</label>
<input type="text" name="ci" class="form-control">
</div>

<button class="btn btn-success rounded-pill">
<i class="fas fa-save"></i> Guardar
</button>

</form>

</div>
</div>
{% endblock %}
